# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
# Poetry typically stores virtual environments in the system, but if you configure Poetry
# to create it within the project, you can exclude it like this:
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Poetry-specific
poetry.lock

# Test result files
.coverage
coverage.xml
htmlcov/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# IDE specific
.vscode/
.idea/
*.swp
.env

# Ignore .terraform folder inside infra-folder
infra-folder/.terraform/

# Ignore Terraform state files in infra-folder
infra-folder/*.tfstate
infra-folder/*.tfstate.backup

# Ignore crash logs in infra-folder
infra-folder/crash.log

# Ignore override files in infra-folder
infra-folder/*.tfvars
infra-folder/*.tfvars.json

# Ignore generated plan files in infra-folder
infra-folder/*.tfplan


