# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
# Poetry typically stores virtual environments in the system, but if you configure Poetry
# to create it within the project, you can exclude it like this:
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Poetry-specific
poetry.lock

# Test result files
.coverage
coverage.xml
htmlcov/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# IDE specific
.vscode/
.idea/
*.swp
.env

# Ignore .terraform directories in any subfolder
**/.terraform/

# Ignore .tfstate files in any subfolder
**/*.tfstate

# Ignore .tfvars files in any subfolder
**/*.tfvars


