
# Byte-compiled / optimized / DLL files
# CDK asset staging directory
# Distribution / packaging
# IDE specific
# Ignore .terraform directories in any subfolder
# Ignore .tfstate files in any subfolder
# Ignore .tfvars files in any subfolder
# Jupyter Notebook checkpoints
# Poetry typically stores virtual environments in the system, but if you configure Poetry
# Poetry-specific
# Pytest cache
# Test result files
# Virtual environment
# macOS specific
# to create it within the project, you can exclude it like this:
*$py.class
**/*.tfstate
**/*.tfvars
**/.terraform/
**/terraform.tfstate.backup
*.egg-info
*.egg-info/
*.py[cod]
*.swp
.DS_Store
.cdk.staging
.coverage
.env
.idea/
.ipynb_checkpoints/
.pytest_cache
.pytest_cache/
.venv
.venv/
.vscode/
__pycache__
__pycache__/
build/
cdk.out
coverage.xml
dist/
htmlcov/
package-lock.json
poetry.lock
